@mixin btn-primary($color) {
    background-color: $color !important;
    color: black !important;
    &:hover, &:active {
        color: lighten(black, 15%) !important;
        background-color: darken($color, 15%) !important;
    }
}

@mixin btn-secondary($color) {
    outline-color: $color;
    background-color: black !important;
    color: $color !important;
    &:hover, &:active {
        background-color: lighten(black, 10%) !important;
        color: lighten($color, 10%) !important;
    }
}

@mixin btn-outline($color) {
    border: 2px $color solid;
    color: $color;
    &:hover, &:active {
        outline: 2px solid;
        background-color: lighten(black, 10%) !important;
        color: lighten($color, 10%) !important;
    }
}

@mixin btn-style-gen($name, $color) {
    &.btn-#{$name}-light {@include btn-primary($color)}
    &.btn-#{$name}-dark {@include btn-secondary($color)}
    &.btn-#{$name}-outline {@include btn-outline($color)}
}