.btn {
    padding: 
        map-get($map: $btn, $key: "top")
        map-get($map: $btn, $key: "left ");
    font-weight: 600;
    margin: .5rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    background-color: transparent;
    border: none;
    color: transparent;
    outline: none;
    text-decoration: none;
    @each $name, $color in $colors {
        @include btn-style-gen($name, $color);
    }
}

@each $name, $color in $type {
    .btn-#{$name} { @include btn-primary($color)}
    .btn-#{$name}-outline { @include btn-outline($color)}
    .btn-#{$name}-dark { @include btn-secondary($color)}
}

.rounded {
    border-radius: 50rem;
}