@mixin diagonal-gradient($start-color, $end-color){
    background: $start-color;
    background-image: -webkit-linear-gradient(to bottom left, $start-color, $end-color, $start-color);
    background-image: -o-linear-gradient(to bottom left, $start-color, $end-color, $start-color);
    background-image: -moz-linear-gradient(to bottom left, $start-color, $end-color, $start-color);
    background-image: linear-gradient(to bottom left, $start-color, $end-color, $start-color);
    background-size: 210% 210%;
    background-position: top right;
  }