body {
    margin: 0 ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: map-get($map: $colors, $key: 'darkgray'); 
    color: map-get($map: $colors, $key: "darkblack");
    overflow-x: hidden;

  }
  
iframe {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: map-get($map: $colors, $key: "darkwhite");
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  overflow: hidden;
}


.bold {
  font-weight: map-get($map: $font-weights, $key: "bold");
  background-color: transparent;
}

