footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    padding-bottom: 1rem;
    position: sticky;
    z-index: 100;
    font-size: map-get($map: $font-sizes, $key:  "sm");
    font-weight: map-get($map: $font-weights, $key: "medium");
}