$BGcolor : lighten($color: $SecondaryColor, $amount: 5.5%);

.item {
    width: 12vw;
    min-width: 10rem;
    aspect-ratio: 1/1.88;

    overflow: hidden;
    
    background-color: $BGcolor;
    
    border: 1px solid rgba(66, 66, 66, 0.1);
    outline: 1px solid rgba(66, 66, 66, 0.1);
    border-radius: .5rem;

    display: grid;
    justify-self: center;
    grid-template-rows: 80% 20%;

    transition: .25s ease-in-out;

 
    & .backsplash {
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-clip: border-box;
        overflow: hidden;
    }
    & .info {
        background-color: inherit;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        color: map-get($map: $colors, $key: "lightgray");
        
        font-size: .8rem;
        font-weight: map-get($map: $font-weights, $key:    "medium");

        margin: 0 .25rem ;
        
        & .title {
            grid-row: 1 / 2;
            grid-column: 1/3;
            font-weight: map-get($map: $font-weights, $key:    "bold");
            color: map-get($map: $colors, $key: "lightwhite");
            //font-size: .9rem;

            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            background-color: inherit;
        }

        & .year {
            grid-row: 2 / 3;
            grid-column: 1/2;
            background-color: inherit;

        }

        & .quality {
            grid-row: 2/3;
            grid-column: 2/3;
            background-color: inherit;
            text-align: end;
        }
    }

    &:hover {
        background-color: lighten($color: $BGcolor, $amount: 7%);
        outline: 1px solid map-get($map: $colors, $key: "darkwhite");
    }
}

@media screen and (min-width: 55rem) {
    .item {
        & .info {
            font-size: .9rem;
            & .title {
                font-size: 1.1rem;
            }
        }
    }
}
    