/* Colors map */
$colors: (
    "darkorange": #FFB156,
    "lightorange":#F6DC98,
    "darkgreen":  #B4CE4C,
    "lightgreen": #EAF698,
    "darkred":    #FF5656,
    "lightred":   #F6A998,
    "darkblue":   #56A4FF,
    "lightblue":  #98E5F6,
    "darkgray":   #747474,
    "lightgray":  #D2D2D2,
    "lightwhite": #FFFFFF,
    "darkwhite":  #d4d4d4,
    "darkblack":  #0C0C0C,
    "lightblack": #171717
);

$colorsPRF : (
    'primary': #15737e,
    'highlight': #219CAA,
    'disabled': #023b42,
    'secondary': #1C1C1C,
    'lightgray': #A6A6A6 
);

 
 /* Common Colors */
$PrimaryColor: map-get($map: $colors, $key: "darkblue");
$SecondaryColor: map-get($map: $colors, $key: "darkblack");


$type: (
    "primary"   : map-get($colors, "darkblue"),
    "secondary" : map-get($colors, "lightgray"),
    "success"   : map-get($colors, "darkgreen"),
    "warning"   : map-get($colors, "darkorange"),
    "error"     : map-get($colors, "darkred")
);

/* Font sizes */
$font-sizes : (
    "xs": 0.75rem,
    "sm": 1rem,
    "md": 1.5rem,
    "lg": 2rem,
    "xl": 2.5rem,
    "xxl": 3rem
);

/* Font weights */
$font-weights: (
    "lighter": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 600,
    "bolder": 900
);


/* Padding */
$btn: (
    "top": 1rem,
    "left": 1.5rem
);
$btn-rounded: (
    "top": .1rem,
    "left": .6rem
);

/* Shine */
$shine: (
    "speed": 8s,
    "angle": 60deg
);

/* Fallback variables */
$ProfileSize: 7rem;
$NameWidth: 15rem;
$NameHeight: 2rem;

/* Navbar settings */
$NavHeight: 3rem;
$NavBGColor : map-get($map: $colors, $key: "lightblack");